* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: rgb(88, 85, 73);
}

img {
    width: 100%;
    display: inline-block;
}

.slider-container {
    height: 100vh;
    display: inline-flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100vw;
    max-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.slide__img {
    max-width: 400px;
    margin-bottom: 40px;
    transition: transform 0.6s ease-in-out;
}

.slide__title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slide__price {
    margin-bottom: 40px;
    font-size: 18px;
}

.slide__btn {
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 10px 34px -14px rgba(0, 0, 0, 0.66);
    cursor: pointer;
    border-radius: 5px;
}

.slide__btn:hover {
    background: rgba(8, 8, 8, 0.955);
}

.grabbing .slide .slide__img {
    transform: scale(1.2);
    transition: transform 0.6s ease-out;
}

.grabbing {
     cursor: grabbing;
}